<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>${username} main view</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Welcome ${username}!</h1>
        <h2>Secret note:</h2>
        <form:textarea cols="50" path="Content" value="${secretMessage}" readonly=""></form:textarea>
        
        <form name="secretMessageForm" th:action="@{username}" method="POST">
            <p><label for="newMessage">Change my secret message</label></p>
            <p><input type="submit" value="Submit"/></p>
            <input type="hidden" value="${username}"/>
        </form>
        <textarea rows="4" cols="50" id="message" name="message" form="secretMessageForm"></textarea>
    </body>
</html>
